* {
    /* Свойства для сброса начальных стилей элементов */
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    font-family: "Inter", sans-serif;
}

header {
    /* Стили для хедера */
    background-color: #2965F1;
    padding: 23px 0;
}

header span {
    /* Стили для текста в хедере IT-INCUBATOR */
    font-weight: 700;
    font-size: 20px;
    color: #fff;
}

.main-section {
    /* Стили для первой секции */
    background-color: #FAFAFF;
    padding: 60px 0;
    min-height: 1024px;
}

.main-title {
    /* Стили для заголовка в первой секции */
    font-weight: 700;
    font-size: 48px;
    color: #303030;
    margin-bottom: 20px;
}

.main-text {
    /* Стили для текста в первой секции */
    font-weight: 400;
    font-size: 18px;
    color: #303030;
}

.main-image {
    /* Стили для изображения в первой секции */
    max-width: 715px;
}


.about-section {
    /* Стили для второй секции */
    background-color: #fff;
    padding: 100px 0;
}

select {
    /* Стили для выпадающего списка */
    width: 150px;
    padding: 8px 0 8px 12px;
    font-weight: 400;
    font-size: 16px;
    color: #303030;
    appearance: none;
    background: url(./assets/ep_arrow-down.svg) no-repeat right 10px top 50%;
}

.section-title {
    /* Стили для заголовков во второй секции */
    font-weight: 700;
    font-size: 24px;
    color: #303030;
    margin-bottom: 25px;
}

.frameworks-list {
    /* Стили для маркированного списка во второй секции */
    list-style-image: url(./assets/solar_map-arrow-up-bold.svg);
    padding-left: 20px;
    font-weight: 400;
    font-size: 16px;
    color: #303030;
}

.books-list {
    /* Стили для нумерованного списка во второй секции */
    padding-left: 20px;
    font-weight: 400;
    font-size: 16px;
    color: #303030;
}

.label {
    /* Стили для подписей чекбоксов */
    font-weight: 400;
    font-size: 16px;
    color: #303030;
}

.text-field {
    /* Стили для односточного поля ввода текста */
    width: 330px;
    padding: 8px 0px 8px 12px;
    border: 1px solid #303030;
    border-radius: 5px;

}

.btn {
    /* Стили для кнопки */
    border: none;
    border-radius: 5px;
    width: 125px;
    padding: 10px 28px;
    background-color: #2965F1;
}

.line {
    /* Стили для линии */
    margin: 60px 0;
}

table {
    /* Стили для таблицы */
    border-collapse: collapse;


}

th, td {
    /* Стили для ячеек таблицы */
    border: 1px solid #95A1BB;
    padding: 12px 13px 11px 15px;
    color: #303030;
}

footer {
    /* Стили для футера */
    background-color: #A3A7FF;
    padding: 26px 0;
}

.footer-link {
    /* Стили для футера */
    text-decoration: none;
    color: #2965F1;
    font-size: 14px;
}
.footer-link:visited{
    color: #303030;
}
.footer-link:hover{
    text-decoration: wavy;
    color: #95A1BB;
}